<div class="container">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="https://github.com/RoboJunior" class="nav-link px-2 text-body-secondary">Github</a></li>
      <li class="nav-item"><a href="https://www.linkedin.com/in/jeyaraman-r-/" class="nav-link px-2 text-body-secondary">LinkedIn</a></li>
      <li class="nav-item"><a href="https://robojunior.github.io/jeyaraman.github.io/" class="nav-link px-2 text-body-secondary">About</a></li>
    </ul>
    <p class="text-center text-body-secondary">&copy; 2023 JrTech, Inc</p>
  </footer>
</div>