<!DOCTYPE html>
<html>
  <head>
    <title>Jrtech careers</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
      #banner {
        height:360px;
        object-fit:cover;
        width:100%;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1 class="text-center mt-2 mb-4">{{company_name}} careers</h1>
      <img class="img-fluid" id='banner' src="https://51d61413-209e-4dcf-a67e-7cd1cfe3414e-00-39ei3dr7epwrf.riker.replit.dev/static/banner.jpg">
      <h2 class="text-center mt-2 mb-4">About JrTech</h2>
      <p class="lead">
        JRTECH is a pioneering company at the forefront of AI-driven solutions.we   specialize in providing innovative and tailored solutions to complex AI-related challenges. Our expertise spans a wide array of technologies including Python, Machine Learning, Deep Learning, OpenAI, NLP, Data Extraction, and more.
  
        At JRTECH, we are committed to pushing the boundaries of technology and delivering exceptional value to our clients. With a focus on excellence and innovation, we strive to redefine the standards of AI-driven solutions across various industries. Our team's dedication to staying abreast of the latest advancements ensures that we provide cutting-edge services that meet and exceed the expectations of our clients.
  
        Driven by a passion for innovation and a commitment to quality, JRTECH continues to be a trusted partner for businesses seeking transformative AI solutions. From concept to deployment, we work closely with our clients to deliver solutions that drive growth, efficiency, and competitive advantage in today's rapidly evolving digital landscape.
      </p>
      <h2 class="text-center mt-2 mb-4">Open Positions</h2>
      <p>
        {% for job in jobs %}
          {% include "jobitem.html" %}
        {% endfor %}
      </p>
      <div class="text-center">
      <button class="btn btn-secondary btn-lg">Contact Us</button>
        <p class="mt-4">Copyright 2024, JrTech</p>
        <div>
    </div>
  </body>
</html>